@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap%27');

:root {
    --bg-color: #dadada
}

body {
    background-color: #f1f1f1;
    font: normal 20px 'Roboto';
    word-wrap: break-word;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.box {
    width: 600px;
    display: inline-block;
    text-shadow: 0.3px 0px 0.5px black;
    border: 5px solid transparent;
    min-width: 350px;
    padding: 15px;
    border-top-width: 30px;
    box-shadow: 4px 4px 14px rgba(0, 0, 0, 0.25);
    border-radius: 3px;
    margin-bottom: 30px;

}

.box span {
    color: black;
}

.box p {
    color: red;
}

.box li {
    color: #414141;
}

.first {
    background:
        linear-gradient(var(--bg-color), var(--bg-color)) padding-box,
        linear-gradient(45deg, #bebee5, #2500f1) border-box;
}

.second {
    background:
        linear-gradient(var(--bg-color), var(--bg-color)) padding-box,
        linear-gradient(45deg, #0a246a, #a6caf0) border-box;
}

.img-exagear {
    max-width: 50px;
    max-height: 50px;
}

.img-buttons {
    max-width: 35px;
    max-height: 35px;
}

.img-screenshot {
    max-width: 350px;
    max-height: 150px;
}

.img-screenshot2 {
    max-width: 280px;
    max-height: 150px;
}

@media (max-width: 768px) {
    body {
        font-size: 23px;
    }

    .box {
        box-sizing: border-box;
        min-width: 200px;
        max-width: 100%;
        margin: 30px;
    }
}

a {
    text-decoration: none;
}